body{
    background: #00070f;
    padding: 0 1% 1%;
}

header{
    display: flex;
    position: relative;
}

.content{
    margin-top: 2%;
}


.content .leftCon{
    width: 75%;
    border:1px solid #396d9f;
    margin-right: 1%;
}

.content .rightCon{
    width: 24%;
}